li.comment {
    display: block;
    list-style: none outside;
    max-width: 30rem;
    min-width: 15rem;
    max-height: 40vh;
    overflow: auto;
    border: 1px solid rgb(150, 0, 150);
    font-style: italic;
    padding: 1rem;
    margin: 0.5rem;
    flex: 1 1 auto;
}

ul.comments {
    padding: 0;
}

li.no-comment {
    display: block;
    list-style: none outside;
}

li.comment p {
    padding-bottom: 1rem;
}

li.comment p.author {
    text-align: right;
}
